@model IEnumerable<reFactorPrj.Models.tRecipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fR_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fRD_Serving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fR_Menu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fR_Do)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fR_Pic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fR_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fRD_Serving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fR_Menu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fR_Do)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fR_Pic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.fR_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.fR_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.fR_Id })
        </td>
    </tr>
}

</table>
